@{
    Layout="_Layout";
}

<div class="container">
    <img src="image/banner1.png" class="img-thumbnail" alt="">
</div>


<div class="container">
    <ul class="nav nav-tabs justify-content-center nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="#anasayfa" data-toggle="tab">Anasayfa</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">Hizmetlerimiz</a>
            <div class="dropdown-menu">
                <a href="#alarm" class="dropdown-item" data-toggle="tab">Alarm Sistemleri</a>
                <a href="#kamera" class="dropdown-item" data-toggle="tab">Kamera Sistemleri</a>
                <a href="#haberalma" class="dropdown-item" data-toggle="tab">HaberAlma Merkezi</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#hakkimizda" data-toggle="tab">Hakkımızda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#iletisim" data-toggle="tab">İletişim</a>
        </li>
        <li class="nav-item col-sm-2">
            <a href="/Login/Index" class="nav-link btn btn-warning">
                <span
                    class="spinner-grow spinner-grow-sm text-danger"></span>GİRİŞ</a>
        </li>
    </ul>


</div>
<!--  tab verilirini içeriği   -->
<br>
<br>
<div class="container">

<div class="tab-content">
    <div class="tab-pane active" id="anasayfa"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
        minus commodi rem maiores nesciunt cupiditate porro, expedita quam, amet quo voluptatibus quibusdam.
        Libero voluptatem officiis culpa omnis rerum illum quis. </div>
    <div class="tab-pane" id="hakkimizda">
        <br>
        <br>
        <p class="lead text-center">
            Teknoloji ve bilgiyi, hizmetlerine entegre ederek hızla büyüyen <strong>M.A Güvenlik</strong> ,
            Türkiye pazarında bilgi lideri misyonunu koruyor. Pazara, uluslararası kalite ve deneyimlerini,
            yerellikle birleştirerek öncülük ediyor.
        </p>
        <br>
        <p class="text-center">
            Firmamız, endüstriyel tesislerden perakende zincirlerine,
            turizmden enerjiye, alışveriş merkezlerinden havacılığıa kadar 26 farklı sektörden 1000'in
            üzerinde iş ortağına, 75 ilde, 2900 hizmet noktasında güvenlik hizmeti sunar. Securitas Türkiye’nin
            11
            bölge müdürlüğü, 70 şube müdürlüğü ve 20 bin çalışanı bulunmaktadır.
        </p>

    </div>
    <div class="tab-pane" id="iletisim">vitae? Suscipit ex veritatis, ab iure, nisi, maxime cumque modi sint eum
        ipsam amet sequi non</div>
    <!-- Hizmetler -->
    <div class="tab-pane" id="alarm">
        <p class="h3"> Alarm Sistemleri </p>
        <div class="row">
            <div class="col-md-4">
                <img src="image/alarm-sistemleri-1.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="col-8">
                <h3 class="lead">
                    Alarm sistemleri soygunu önleyici özelliği ve soygunu erken ihbar edici özelliğe
                    sahiptirler.Birincisi alarm sistemi
                    kurulan yerde dış ortamında siren insanların göreceği bir noktaya takılırki bu durum
                    hırsızın alarm sisteminin sirenini
                    görmesini ve yapacak olduğu hırsızlıktan vazgeçmesine neden olabilir.Yada her şeye rağmen
                    hırsızlık teşebbüsünde bulunulması
                    durumunda sesli ikaz vererek içeridekileri ve çevredekileri sesli ve ışıklı olarak ikaz
                    eder.Aynı zamanda hırsız alarm sistemlerinde
                    bulunan telefon arama modülleri vasıtasıyla istenilen telefonlara ikaz yapılmasına olanak
                    tanır.Birkaç adet telefon tespit edilip sistemin
                    hafızasına kayıt yapılır ve hırsız alarm sistemi herhangi bir sensörden hırsız
                    algılandığında sırasıyla sistemin hafızasına
                    kayıtlı telefonlar sırasıyla aranır ve hırsız girdiği belirtilir.Buda insanlara anında
                    müdahale etmeyi sağlar.
                </h3>
                <p>
                    Alarm Sistemleri (Alarım Sistemi) Belli Parçalardan oluşmaktadır. Bu Parçalar Hırsız Alarm
                    Panelleri

                    ki bu sistemin beynidir. Bütün işlemler hırsız alarm panelleri üzerinden yapılır.Diğer
                    güvenlik alarm sistemi parçaları ise
                    PIR Dedektörler,Manyetik Kontaklar,Cam KIR(Cam Kırılma Dedektörleri),Harici Ortam
                    Sirenleri,Dahili Ortam Sirenleri, Sistemin
                    Kontrolünü sağlayan Keypad(Tuş Takımı) sistemin ana parçalarıdır.
                    Bunlara ilave olarak telefon arama modülleri,gerektiğinde kablosuz olarak sistemi açıp
                    kapamaya yarayan uzaktan kumanda modülleri bulunmaktadır.
                </p>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="kamera">
        <p class="h3"> Kameralı Güvenlik Sistemleri </p>
        <div class="row">
            <div class="col-md-4">
                <img src="image/kamera.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="col-8">

                <p> Ev güvenlik kamera sistemi, ev içi güvenlik ve tedbiri sağlamak amaçlı kullanılan
                    görüntüleme sistemidir.
                    Bu sistem ile evde olunmayan zamanlarda izleme, görüntüleme ve kayıt
                    işlemleri gerçekleştirilebilmektedir. Ev güvenlik sistemleri aracılığıyla bakıcıya
                    bırakılmış çocuk, kritik
                    bölgelerin izlenmesi, hasta takibi, olası hırsızlık durumlarına karşı güvenlik sağlama
                    imkanları bulunabilmektedir.

                </p>
                <p> Uzaktan izleme yapılacak ev güvenlik kamerası sisteminde IP kamera ile yüksek ve kesintisiz
                    görüntü iletimi için
                    geniş bant internet bağlantısı gerekebilmektedir. İnternetin bağlantısının bulunduğu her
                    yerde tarayıcı üzerinden
                    bilgisayar, tablet ile ya da IOS, Android, Windows Phone gibi akıllı cihazlara yüklenecek
                    mobil uygulamalar aracılığıyla
                    ev içi canlı ya da kayıtlı görüntüler izlenebilmektedir. Güvenlik kamerasının yetkisiz
                    kişilerce uzaktan izlenmesine karşı
                    kullanıcılara şifre verilmektedir. Bu şifre kişiye özel olup kolay tahmin edilebilir
                    olmaması kamera güvenliğini arttırabilmektedir.
                </p>

                <p>
                    Ev güvenlik kamera sisteminde programlanabilir bir özellik bulunması durumunda kamera
                    istenilen saatlerde ya da harekete
                    duyarlı olarak çalıştırılabilmektedir. Bunun yanında kamera sisteminin özelliklerine göre
                    ses kaydı da yapılabilmektedir.
                    Bunun için dahili mikrofon bulunan kameralar tercih edilmelidir.
                </p>
            </div>
        </div>

    </div>
    <div class="tab-pane" id="haberalma">
        <p class="h3"> Alarm İzleme Sistemleri </p>
        <div class="row">
            <div class="col-md-4">
                <img src="image/haberalma.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="col-8">
                <h3 class="lead">
                    Hırsızlık, gaz kaçağı, yangın, su baskını gibi acil ve
                    tehlikeli durumlarda; Alarm İzleme Merkezi, alarm sistemleri ile eş zamanlı harekete geçer.
                </h3>
                <p>
                    Ev veya işyerlerine kurulabilen alarm sistemleri, izinsiz giriş, hırsızlık, soygun, su
                    baskınları,
                    gaz kaçakları, yangın gibi acil durumları algılayıcıları aracılığıyla algılarlar.
                    Ayrıca, bireyler, sisteme bağlı panik butonu ile tüm acil durumlarda Uzaktan İzleme
                    Merkezi’ni harekete geçirebilirler. <br>

                    Geleneksel alarm sistemlerine ek olarak, elektriğin olmadığı arazi koşullarında dahi
                    çalışabilen Harici Alarm Sistemleri ile Uzaktan İzleme Merkezi bu alanların
                    güvenliğinin sağlanmasına destek olabilmektedir.
                </p>
            </div>
        </div>




    </div>
</div>

<div class="container">

    <div class="jumbotron text-center">
        <div class="container text-center">
            <div class="row text-right">
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="image/alarm.png" style="width: 10rem" alt="">
                </div>
                <div class="col-sm-5 text-center">
                    <h2 class="display-8 text-center"> <br> M.AKTAŞ <br> ANİ MÜDAHALE <br> ALARM TAKİP MERKEZİ
                    </h2>
                </div>
                <div class="col-md-4">
                    <div class="spinner-grow text-danger" style="width:12rem; height:12rem; "></div>
                </div>

            </div>
        </div>

        <!--
        <img src="image/alarm.png" width="150px" alt="Not Found">
        -->



    </div>
    <div class="spinner-border"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-grow text-danger"></div>
    <button class="btn btn-primary"> <span class="spinner-border spinner-border-sm text-danger"></span>
        Yükleniyor</button>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Alarm Sistemlerimiz</h2>
            <p>deneme yaz bakalım deneme yaz bakalı deneme yaz bakalı deneme yaz bakalı deneme yaz bakalı </p>
        </div>
        <div class="col-md-4">
            <h2>Güvenlik Kameraları</h2>
            <p>deneme yaz bakalım deneme yaz bakalı deneme yaz bakalı deneme yaz bakalı deneme yaz bakalı </p>
        </div>
        <div class="col-md-4">
            <h2>Araç Takip Sistemleri</h2>
            <p>deneme yaz bakalım deneme yaz bakalı deneme yaz bakalı deneme yaz bakalı deneme yaz bakalı </p>
            <img class="img-responsive" src="image/alarm.png" style="width: 18rem" alt="">
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="alarm.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="alarm.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card" style="width: 12rem;">
                <img src="image/alarm.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container" id="test">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="image/alarm.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="image/alarm.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="image/alarm.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>

</div>

<!--


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
-->