@model LoginModel

@{
    Layout = "_Layout";
}

    <div class="jumbotron text-center">
        <h2> ALARM İZLEME MERKEZİNE HOŞ GELDİNİZ </h2>
    </div>



    <div class="container col-md-6">
        <form asp-controller="Login" asp-action="Index">

            <div class="form-group">
                <div class="form-group-row text-center">
                    <label class=" col-md-3 col-from-label">Kullanıcı</label>
                    <input asp-for="aboneNo" class="col-md-4 col-from-plaintext"
                        placeholder="Size verilen Kullanıcı Kodu" required="Bu Alan Boş Geçilemez"><br>
                </div>
                <div class="form-group-row text-center">
                    <label class="col-from-label col-md-3">Parola</label>
                    <input asp-for="parola" type="password" class="col-from-plaintext col-md-4" required="Parola Bilgisini Giriniz"><br>

                </div>

                <div class="form-group-row text-center">
                    <label class="col-from-label col-md-3">Kullanıcı Türü</label>
                    <select asp-for="kullaniciTur" asp-items="Model.kullaniciTurler" class="form-control col-md-4"
                            style="display: inline;">
                        <!--
                        <option value="">Muşte3333ri</option>
                        <option value="">Admin</option>
                        <option value="">Operatör</option>
                        -->
                    </select>
                </div>
            </div>
            <!--
            <div class="form-group-row text-center">
                <div class="form-check-inline col-md-3">
                    <label class="form-check-label ">
                        <input type="checkbox" class="form-check-input" name="hatirla" id="hatirla" value="checkedValue">
                        Beni Hatırla
                    </label>
                </div>
                <div class="col-md-3" style="display: inline;" >
                    <a href="">Şifremi Unuttum</a> 
                </div>

            </div>
            -->
            <br>
            <div class="text-center">
                <button class="btn btn-success col-md-6" type="submit" >GİRİŞ YAP</button>
                <br/>
                 @Html.ValidationMessage("Sonuc", new
                                       {style="color:red;" })
                
                </div>
            
                




            <!-- açılır menü örnek

                 <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">MENÜ</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item">veri</a>
                    <a class="dropdown-item">veri</a>
                    <a class="dropdown-item">veri</a>
                </div>
            </div>


            -->




            <!--
                <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="as" id="" value="checkedValue">
                    Beni Hatırla
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="as" id="" value="checkedValue">
                    Beni Hatırla
                </label>
            </div>


            -->





          



        </form>
    </div>




    