@model LoginModel

@{
    Layout = "_Layout";
}

<div class="jumbotron text-center">
    <h2> ALARM İZLEME MERKEZİNE HOŞ GELDİNİZ </h2>
</div>
<div class="container">

    <div class="jumbotron text-center">
        <div class="container text-center">
            <div class="row text-right">
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="image/alarm.png" style="width: 10rem" alt="">
                </div>
                <div class="col-sm-5 text-center">
                    <h2 class="display-8 text-center"> <br> M.AKTAŞ <br> ANİ MÜDAHALE <br> ALARM TAKİP MERKEZİ
                    </h2>
                </div>
                <div class="col-md-4">
                    <div class="spinner-grow text-danger" style="width:12rem; height:12rem; "></div>
                </div>

            </div>
        </div>

        <!--
        <img src="image/alarm.png" width="150px" alt="Not Found">
        -->



    </div>
    

</div>



<div class="container col-md-6">
    <form class="form-signin" asp-controller="Login" asp-action="Index">

        <div class="form-group">
            <div class="form-group-row text-center">
                <label class=" col-md-3 col-from-label">Kullanıcı</label>
                <input asp-for="aboneNo" class="col-md-4 col-from-plaintext"
                       placeholder="Size verilen Kullanıcı Kodu" required="Bu Alan Boş Geçilemez"><br>
            </div>
            <div class="form-group-row text-center">
                <label class="col-from-label col-md-3">Parola</label>
                <input asp-for="parola" type="password" class="col-from-plaintext col-md-4" required="Parola Bilgisini Giriniz"><br>

            </div>
            <input type="hidden" asp-for="kullaniciTur" value="2"/>

               
        </div>
        <!--
        <div class="form-group-row text-center">
            <div class="form-check-inline col-md-3">
                <label class="form-check-label ">
                    <input type="checkbox" class="form-check-input" name="hatirla" id="hatirla" value="checkedValue">
                    Beni Hatırla
                </label>
            </div>
            <div class="col-md-3" style="display: inline;" >
                <a href="">Şifremi Unuttum</a> 
            </div>

        </div>
        -->
        <br>
        <div class="text-center">
            <button class="btn btn-success btn-block col-md-6" type="submit" >GİRİŞ YAP</button>
            <br/>
            @Html.ValidationMessage("Sonuc", new
            {style="color:red;" })
                
        </div>
        <!--
        <div class="form-group form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="as" id="" value="checkedValue">
                Beni Hatırla
            </label>
        </div>
        <div class="form-group form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="as" id="" value="checkedValue">
                Beni Hatırla
            </label>
        </div>
        -->
    </form>
</div>


<div class="container col-md-4">
    
    <form class="form-signin">
          
          <h1 class="h3 mb-3 font-weight-normal">GİRİŞ BİLGİLERİ</h1>
          <label for="inputEmail" class="sr-only">TC. KİMLİK NO</label>
          <input type="text" id="inputEmail" class="form-control" max="11" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">ŞİFRE</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-md btn-success btn-block" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
</div>




    